
.window {
    position: absolute;
    background-color: #93d8d0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 300px auto;
    width: 60%;
    height: 60%;
    z-index: 1000;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #93d8d0;
    height: 20%;
    font-weight: lighter;

}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    background-color: #dee2e1;
    border-top: 5px solid #6c8784;
    border-bottom: 5px solid #6c8784;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #93d8d0;
    height: 20%;
    padding-bottom: 20px;
    font-weight: lighter;
    text-align: center;
    vertical-align: middle;
}

.btn {
    background-color: transparent;
    font-size: 20px;
    color: #6c8784;
    border: none;
    font-weight: bolder;
    float: right;
    border-radius: 0.2px;
    padding: 15px;

}

.btn:hover {
    animation: font-resizer 3s ease-in 5;
}

@keyframes font-resizer {
    from { font-size: 12px; }
    to { font-size: 30px; }
    0% { color: black }
    50% { color: yellow }
    100% { color: orange }
}
