.buttonContainer {

}

.buttonContainer > * {
    margin-left: 5px;
}

.button {
    border-radius: 2px;
    outline: none;
    border: none;
    background-color: blue;
}

.activeButton {
    composes: button;
    background-color: yellow;
}

.tabContainer {
    position: relative;
    height: 400px;
    width: 600px;
    left: 100px;

}

.horizontal {
    display: inline-block;
}

.vertical {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
}

.theme-dark {
    composes: tabContainer;
    font-family: cursive;
    background-color: #242526;
    color: #f2f3f4;
}
.theme-light {
    composes: tabContainer;
    background-color: #ddeeff;
    color: #42484f;
    font-family: sans-serif;

}
