.buttonContainer {

}

.buttonContainer > * {
    font-size: 15px;
}

.button {
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    color: inherit;
    font-family: inherit;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
}

.activeButton {
    composes: button;
    font-weight: 600;
    background-color: rgba(255,255,255,0.6);
    border-bottom: 1px solid #9999;
}


.tabContainer {
    margin-top: 20px;
    height: 400px;
    width: 600px;
    left: 100px;
}

.layout-horizontal {
    composes: buttonContainer;
    display: flex;
    flex-direction: row;
    top: 0;
}

.layout-vertical {
    composes: buttonContainer;
    display: flex;
    flex-direction: column;
    float: left;
}

.theme-dark  {
    composes: tabContainer;
    font-family: fantasy;
    background-color: #3a3a3a;
    color: #f2f3f4;
}
.theme-light {
    composes: tabContainer;
    background-color: #ddeeff;
    color: #42484f;
    font-family: sans-serif;

}
