
.carousel {
    padding: 30px;
    display: flex;
    align-items: center;
}

.img-small {
    width: 100px;
    height: 100px;
}

.img-medium {
    width: 200px;
    height: 200px;
}

.img-large {
    width: 300px;
    height: 300px;
}
.button {
    background-color: transparent;
    outline: none;
    border: none;
    perspective: 10000px;
}

.left {
    height: 10px;
    width: 10px;
    border: solid grey;
    border-width: 2px 0 0 2px;
    display: inline-block;
    transform: rotateY(135deg) rotateZ(135deg);
}

.right {
    composes: left;
    border-width: 0 2px 2px 0;
}
