
.CartoonNetworkSpinner {
    position: absolute;
    left: 10%;
    margin-top: 20px;

}

.image {

    width: 150px;
    height: 150px;
    margin:-60px 0 0 -60px;
    -webkit-animation-name: rotation;
    -webkit-animation-iteration-count: infinite;
}

/* https://codepen.io/vitoralberto/pen/OPYyYB */

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);

		}
}
