.card {
    position: relative;
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 2px;
    width: 200px;
    border: 0.5px solid;
    font-size: 14px;
    line-height: 18px;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name {
    text-align: center;
    color: lime;
    border: 2px;
}
.email {
    font-style: italic;
}
.imageUrl {
    display: inline-block;
    margin: 10px;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    height:100px;
    width: 100px;
}
